@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@500;600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
#keywords:-webkit-autofill,
#keywords:-webkit-autofill:hover,
#keywords:-webkit-autofill:focus,
#keywords:-webkit-autofill:active,
#location:-webkit-autofill,
#location:-webkit-autofill:hover,
#location:-webkit-autofill:focus,
#location:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
