.postContent {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 21px;
    max-height: 48px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardHover {
  &:hover {
    background: #F3F3F3;
    cursor: pointer;
  }
}