.btn {
  background-color: #3d70b2;
  color: white;
  border-radius: 20px;
  padding: 8px 15px;
  border: 0px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .btn {
    background-color: #3d70b2;
    color: white;
    border-radius: 20px;
    padding: 8px 15px;
    border: 0px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
  }
}
