.container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.align {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-left: 50px;
  img {
    cursor: pointer;
  }
}

.drawer-icon {
  display: none !important;
}

.menu {
  @extend .align;
}

.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  column-gap: 4px;
  padding: 27px 8px 27px 4px;
  transition: all ease 200ms;
  letter-spacing: 1px;
  font-size: 1.02rem;
  &:hover {
    color: #3d70b2;
    font-weight: 700;
    border-bottom: 2px #3d70b2 solid;
  }
}

.active {
  @extend .btn;
  color: #3d70b2;
  font-weight: 700;
  border-bottom: 2px #3d70b2 solid;
}

.drawer {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 30px 5px;
  img {
    align-self: center;
  }
}

@media (max-width: 1090px) {
  .menu {
    display: none;
  }
  .drawer-icon {
    display: block !important;
    cursor: pointer;
  }
  .align {
    column-gap: 10px;
    margin-left: 0px;
  }
}
