/* chrome and chromium based */
.noScroll {
  overflow: hidden;
}

// process
.circle {
  background-color: #3d70b2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bold;
}

.divider {
  border-left: #ccc 1px solid;
  height: 100px;
  margin: 8px 0 8px 12px;
}
